# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# Python legacy distribution dirs
/lib/
/lib64/
!apps/**/lib/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/

# Testing & caches
.pytest_cache/
.coverage
htmlcov/
.tox/
artemis/

# Flutter & Dart
.dart_tool/
.packages
**/build/
*.lock.bak

# Node.js
node_modules/
.next/
out/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
